Bendly_Project_v3 (1).json
{
  "name": "Bendly_Project_v3",
  "nodes": [
    {
      "parameters": {
        "operation": "watch",
        "resource": "message",
        "filters": {"search": "has:attachment"}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [-500,0],
      "id": "gmail_trigger",
      "name": "Email Trigger"
    },
    {
      "parameters": {
        "functionCode": "return {deal:{sender:$json.from,address:$json.fromEmail,state:'ingested'}};"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-300,0],
      "id": "init_deal",
      "name": "Init Deal"
    },
    {
      "parameters": {
        "workflowId": {"__rl":true,"value":"ModuleDocumentProcessing","mode":"list","cachedResultName":"Module_Document_Processing"}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [-100,0],
      "id": "exec_doc",
      "name": "Document Processing"
    },
    {
      "parameters": {
        "workflowId": {"__rl":true,"value":"ModuleAIAnalysis","mode":"list","cachedResultName":"Module_AI_Analysis"}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [100,0],
      "id": "exec_ai",
      "name": "AI Analysis"
    },
    {
      "parameters": {
        "workflowId": {"__rl":true,"value":"ModuleQuickEnrichment","mode":"list","cachedResultName":"Module_Quick_Enrichment"}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [300,0],
      "id": "exec_enrich",
      "name": "Quick Enrichment"
    },
    {
      "parameters": {
        "workflowId": {"__rl":true,"value":"ModuleCriteriaMatching","mode":"list","cachedResultName":"Module_Criteria_Matching"}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [500,0],
      "id": "exec_match",
      "name": "Criteria Match"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1":"={{$json.score < 70}}","operation":"isTrue"}]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700,0],
      "id": "if_fit",
      "name": "Fit?"
    },
    {
      "parameters": {
        "workflowId": {"__rl":true,"value":"ModuleNoFitHandler","mode":"list","cachedResultName":"Module_NoFit_Handler"}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [900,-100],
      "id": "exec_nofit",
      "name": "NoFit Handler"
    },
    {
      "parameters": {
        "workflowId": {"__rl":true,"value":"ModuleDeepResearch","mode":"list","cachedResultName":"Module_Deep_Research"}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [900,50],
      "id": "exec_deep",
      "name": "Deep Research"
    },
    {
      "parameters": {
        "workflowId": {"__rl":true,"value":"ModuleFitHandler","mode":"list","cachedResultName":"Module_Fit_Handler"}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1100,50],
      "id": "exec_fit",
      "name": "Fit Handler"
    },
    {
      "parameters": {
        "workflowId": {"__rl":true,"value":"ModuleLogging","mode":"list","cachedResultName":"Module_Logging"}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1300,0],
      "id": "exec_log",
      "name": "Log"
    }
  ],
  "connections": {
    "Email Trigger": {"main": [[{"node":"Init Deal","type":"main","index":0}]]},
    "Init Deal": {"main": [[{"node":"Document Processing","type":"main","index":0}]]},
    "Document Processing": {"main": [[{"node":"AI Analysis","type":"main","index":0}]]},
    "AI Analysis": {"main": [[{"node":"Quick Enrichment","type":"main","index":0}]]},
    "Quick Enrichment": {"main": [[{"node":"Criteria Match","type":"main","index":0}]]},
    "Criteria Match": {"main": [[{"node":"Fit?","type":"main","index":0}]]},
    "Fit?": {"main": [[{"node":"NoFit Handler","type":"main","index":0}], [{"node":"Deep Research","type":"main","index":0}]]},
    "Deep Research": {"main": [[{"node":"Fit Handler","type":"main","index":0}]]},
    "NoFit Handler": {"main": [[{"node":"Log","type":"main","index":0}]]},
    "Fit Handler": {"main": [[{"node":"Log","type":"main","index":0}]]}
  },
  "active": false,
  "settings": {"executionOrder":"v1"},
  "versionId": "bendly_v4",
  "id": "BendlyOrchestrator"
}
